<div class="row header">
  <div class="columns small-12 medium-3 beerWrapper">
    <a routerLink="/"><span class="ion-ios-pint" id="logo"></span> </a>
  </div>
  <div class="columns small-12 medium-6 siteTitle">
      <h1> Random Beer Name Finder </h1>
    </div>
  <div class="columns small-12 medium-3">
    <a routerLink="/randombeer" class="cta-btn">Random Beer</a>
    <a routerLink="/allbeers" class="cta-btn">All Beers</a>
    <a href="mailto:dunnedev@jsdiaries.com?Subject=Advertising%query" class="cta-btn">Advertising</a>
  </div>
</div>
