/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');



$bg: #2a3136;
$text-color:#88949d;
$accent-color:#EFA409;

body {
  background: $bg;
  color: $text-color;
  font-family: 'Francois One', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: white;
}

.error {
  font-family: 'Francois One', sans-serif;
  color: #EFA409;
  font-size: 20px;
  display: block;
}

a:hover {
  color: $accent-color;
}

.cta-btn,
.cta-btn:visited {
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 9px 40px;
  float: right;
  border-radius: 5px;
}

.cta-btn:hover {
  background: $accent-color;
  color: $bg;
}

h1 {
  font-family: 'Francois One', sans-serif;
  color: white;
  margin-bottom: 20px;
 // text-transform: uppercase;
  font-weight: 700;
  font-size: 4.2em;
  line-height: 1.2em;
}

.circle {
  fill: $accent-color;
}

.arrow {
  fill: $bg;
}

#group {
  cursor: pointer;
  &:hover {
    .circle {
      animation: animationCircle .5s forwards;
      -webkit-animation: animationCircle .5s forwards;
    }
    .arrow {
      fill: $accent-color;
    }
   
  }
}



@keyframes animationCircle {
  0% {
    fill: $accent-color;
  }
  100% {
    fill: $bg;
  }
}


@media screen and (max-width: 40em)
{
  h1{
    font-size:1.6em;
  }

  .body-blur{

  }
}

@media screen and (min-width: 40em) and (max-width: 63em)
{
  h1{
    font-size:2.8em;
    line-height: 1em;
  }


}