<div [@moveIn]="" class="row">
  <div class="columns small-12 medium-9">
      <h2> Search for beer names from a brewery.</h2>
      
   <div class="row">
      <p class="columns small-12 medium-3">Categories</p>
    <p class="columns small-12 medium-9">Beer Name</p>
    
   </div>
    <form action="" #formData='ngForm'>
        <select class="classic" #selectedCategory (change)="currentCat(selectedCategory.value)">
            <option  value="All">All</option>
            <option *ngFor ="let value of categories"  value="{{value.name}}">{{value.name}}</option>
       </select>
      <input [formControl]="term" type="text" placeholder="Search Beer">
    
    </form>
  </div>
  <!--<ul class="suggestions">
      <li *ngFor="let place of matchedArray" (click)="setSelectedPlace(place)">{{place.city}}
        <p>Population: {{place.pop}} </p>
      </li>
      <li>Search for city</li>
      <li>or a state</li>
    </ul>-->
</div>
