.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.cta-btn {
  float: none;
}

input {
 width: 79%;
  padding-left: 18px;
  text-transform: none;
  letter-spacing: 2px;
  margin-top: 0;
  display: inline;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}

select {
  width: 20%;
  line-height: 1rem;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

p {
  font-family: 'Francois One', sans-serif;
  color: #EFA409;
  font-size: 20px;
  display: block;
}
