

.beer-container {
  background-color: #363e45;
  padding: 23px;
  margin-bottom: 30px;
  height: 100%;
  position: relative;
}

.beer-title {
  font-size: 1.2em;
  display: block;
}

h2 {
  font-size: 35px;
   color: #EFA409;
}
.error{
      text-align: center;
}
.row {
  .btn2 {
    float: none;
    position: absolute;
    bottom: 23px;
    color: #EFA409;
    &:hover {
      color: white;
    }
    .st0 {
      fill: #EFA409;
    }
    .st1 {
      fill: #2A3136;
    }
  }
  a {
    margin-top: 1rem;
    color: #dfcfad;
    &:hover {
      color: #EFA409;
    }
  }
}

.beer-container p {
  margin: 20px 0 25px 0;
  color: white;
}

.beers {
  margin-bottom: 30px;
}

.external svg {
  position: relative;
  width: 50px;
  height: 50px;
  max-width: none;
  left: 24px;
}
