<app-search>
</app-search>

<div class="row">
 
  <ng-template ngFor let-beer [ngForOf]="beers"  let-i="index" *ngIf="beers else noBeers">
    
    <div [@moveInLeft]="" class="columns small-12 medium-6 large-4 beers" *ngIf="beer.description && beer.nameDisplay && i<11 ">
      <div class="beer-container">
        <div class="row">
          
          <div class="columns small-12 large-10">
            <a routerLink="/details/{{beer.id}}" class="beer-title">{{beer.nameDisplay}}{{error}}</a>
          </div>
          <div class="columns small-12 large-2 show-for-large">
            <a routerLink="/details/{{beer.id}}" target="_blank" id="group" class="external">
                <span class="cornerIcon ion-beer"></span> 
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 96.8 96.8" style="enable-background:new 0 0 96.8 96.8;" xml:space="preserve">
                
                <g id="group">
                  <circle class="circle" cx="48.4" cy="48.4" r="48.4" />
                  <polygon class="ion-beer"
                 />
                </g>
                </svg>
            </a>
          </div>
        </div>
        <p *ngIf="beer.description">{{beer.description | length: 230 }}</p>
       
        <a routerLink="/details/{{beer.id}}" class="cta-btn btn2">More Info</a>
      </div>
    </div>
  </ng-template>
  <div *ngIf="beers && beers.length < 1">
      <h2>No Beers found.  </h2>
      <br>
    </div>
  <ng-template #noBeers class="error">
  <div>
    <h2>No Beers found.  </h2>
    <br>
  </div>
    <h2>{{errorMsg}}</h2>
  </ng-template>
</div>


<!-- The Modal -->
<div class="model-wrapper">
<div *ngIf="!alreadyChecked"  id="myModal" class="modal">
   
  <!-- Modal content -->
  <div  class="modal-content">

    <h1 class="ageText" *ngIf="ageCheck"> {{ageCheck}} </h1>
   
   <div class="options">
     <a (click)="handleYes()" class="cta-btn btn2">Yes</a>
     <a (click)="handleNo()"  class="cta-btn btn2">No</a>
   </div>

  </div>

</div>
  
</div>