

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.beers {
  text-align: center;
  p {
    text-align: left;
        color: white;
  }
  .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    a {
      font-size: 1rem;
    }
  }
  a {
    &:first-child {
      font-size: 1.4rem;
      display: block;
    }
  }
}

.cta-btn {
  margin: 5px;
}

img {
  margin: 40px 0;
}

.cta-btn {
  float: left;
}
@media screen and (max-width: 40em) {
  #logo,
  .cta-btn {
    margin: 0 auto;
    display: block;
  }
  .cta-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  p {
    font-size: 1em;
  }
  #external-btn {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 20px auto;
  }
  .beers{
.btns {
    display:block;
    .cta-btn {
     float:none;
    }
  }
  }
  
}